<div style="margin-top: 20px;">
    <h1>Home Component</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac placerat purus,
        efficitur consequat lacus. Sed commodo, nibh sed varius rhoncus, arcu massa efficitur sapien, 
        at scelerisque lacus urna finibus orci. Praesent in luctus metus, et tincidunt enim. 
        Phasellus sollicitudin lacus sem, vitae tempor nisl pulvinar quis.
        Quisque semper sodales neque quis tristique. Integer dolor dui, placerat ut mollis vitae, 
        sodales ut sem. Vivamus condimentum, nisl at mattis sollicitudin, purus urna eleifend metus, 
        in dignissim mi lorem a nulla. Pellentesque malesuada eros in mattis euismod. Nam nec mauris dui. 
        Vestibulum metus risus, lobortis id tellus vel, convallis scelerisque enim. 
        Proin lacinia augue nec gravida aliquet. Fusce a lacus sapien. 
        Vivamus gravida libero tempus est accumsan porta. Vivamus nec tempus felis.
    </p>
</div>
