*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    font-weight: 300;
    color: #333;
}
span{
    letter-spacing: 10px;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
button{
    padding: 8px 16px;
    margin: 12px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}
.number-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sorted-output{
    width: 50%;
    margin: 0 auto;
    margin-top: 16px;
    padding: 16px;
    background-color: #f1f1f1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
}
h5{
    text-align: center;
    font-size: 20px;
}
li{
    margin-bottom: 8px;
    font-size: 28px;
    text-align: center;
}



.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h3 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .inputbox {
    position: relative;
    margin-bottom: 20px;
  }
  
  .inputbox input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #333;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .inputbox input:focus {
    border-color: #007bff;
  }
  
  .inputbox span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: top 0.3s, font-size 0.3s;
    pointer-events: none;
  }
  
  .inputbox input:focus + span,
  .inputbox input:not(:placeholder-shown) + span {
    top: -15px;
    font-size: 12px;
    color: #007bff;
  }
  
  .result-container {
    margin-top: 20px;
  }
  
  .result-container p {
    font-size: 20px;
    color: #555;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  