<!-- <div>
   @defer (on idle) {
    <app-triggers></app-triggers>
   }
   @loading (minimum 3s){
    <h2 style="text-align: center;">Loading Content...</h2>
   }
</div> -->

<!-- <div style="padding-left: 50px;padding-right: 50px;">
<h1 style="font-size: 60px;text-align: center;">Article</h1>
<p>Ullamco irure duis proident est ex. Officia culpa ad id esse nostrud ut. Aute ex qui tempor esse eu laboris ut anim anim.</p>

<p>Nisi ex cupidatat qui in elit. Dolor ea incididunt nostrud pariatur Lorem laborum duis ea proident. Ea duis mollit commodo do esse mollit tempor nostrud.</p>

<p>Dolor occaecat adipisicing ea consectetur nulla officia consequat. Veniam velit nostrud ipsum dolore voluptate. Magna nulla irure ea excepteur est ad labore commodo.</p>

<p>Nulla fugiat exercitation elit velit proident nisi eu ipsum. Mollit Lorem in ut laborum sunt nostrud laborum tempor fugiat. Incididunt laboris culpa sunt eiusmod ullamco culpa. Ut mollit excepteur laboris anim ut nisi.</p>

<p>Lorem ut consequat reprehenderit ea id. Consectetur fugiat magna cupidatat eiusmod voluptate excepteur excepteur ea. Velit labore occaecat qui et proident duis laboris. Exercitation irure ipsum sunt consequat proident occaecat.</p>

<p>Duis amet exercitation cillum aute aliqua duis id eu. Sint deserunt reprehenderit duis cillum qui officia dolor adipisicing ea. Laborum officia ullamco tempor culpa adipisicing adipisicing.</p>

<p>Voluptate ad cupidatat sint cupidatat adipisicing ipsum. Aute veniam ea sit elit ex quis laborum tempor. Aliquip cillum anim cupidatat cillum. Duis velit ex labore eiusmod. Velit voluptate labore duis magna ea dolor qui qui laboris.</p>

<p>Do velit sit proident magna reprehenderit esse anim. Ad ex laboris minim cillum exercitation qui anim qui aliquip. Qui sint exercitation aliqua consectetur enim veniam ad ut. Veniam aute Lorem occaecat nostrud laboris cupidatat.</p>

<p>Esse incididunt do ea ipsum deserunt. Proident dolor eu ipsum laborum Lorem do. Dolor ea labore veniam sit laboris reprehenderit eu excepteur id.</p>

<p>Duis irure culpa est dolor ex mollit amet dolore proident. Veniam nulla eu dolore in. Elit quis exercitation voluptate excepteur ut officia ipsum qui. Cupidatat ex minim voluptate cupidatat duis ipsum. Irure et reprehenderit sunt enim veniam officia.</p>
</div>

<div #showContent>
   @defer (on viewport(showContent)) {
     <app-triggers></app-triggers>
   }
   @placeholder (minimum 800ms){
     <h2 style="text-align: center;">Loading Content...</h2>
   }
</div> -->

<!-- <button type="button" #showContent>Show User</button>

<div>
     @defer (on interaction(showContent)) {
       <app-triggers></app-triggers>
     }
</div> -->

<!-- <div>
   <div class="card custom-card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" #showContent>Card title</h5>
        @defer (on hover(showContent)) {
          <h6>
               Duis irure culpa est dolor ex mollit amet dolore proident. 
               Veniam nulla eu dolore in. Elit quis exercitation voluptate excepteur ut officia ipsum qui. 
               Cupidatat ex minim voluptate cupidatat duis ipsum.
               Irure et reprehenderit sunt enim veniam officia.
          </h6>
        }
      </div>
    </div>    
</div> -->

<!-- <div>
   @defer (on immediate) {
      <h6>
         Duis irure culpa est dolor ex mollit amet dolore proident. 
         Veniam nulla eu dolore in. Elit quis exercitation voluptate excepteur ut officia ipsum qui. 
         Cupidatat ex minim voluptate cupidatat duis ipsum.
         Irure et reprehenderit sunt enim veniam officia.
    </h6>
   }
</div> -->

<!-- <div>
   loading after 800ms
    @defer (on timer(800ms)) {
      <h1>
         Duis irure culpa est dolor ex mollit amet dolore proident. 
         Veniam nulla eu dolore in. Elit quis exercitation voluptate excepteur ut officia ipsum qui. 
         Cupidatat ex minim voluptate cupidatat duis ipsum.
         Irure et reprehenderit sunt enim veniam officia.
      </h1>
    }
</div> -->

